.landing-conatiner{
    display: flex;
    margin: auto;
    gap: 170px;
    padding: 20px;
    justify-content: space-between;
   
}

.landing-text{
    color: #fff;
    padding-top: 150px;
    

}

.landing-text h2{
    font-size: 40px;
}

.landing-text h5{
    font-size: 20px;
}

.landing-img img{
    padding-top: 150px;
    height: 700px;
   
}

.landing-btn{
    margin-top: 10px;
}


@media(max-width: 768px){

.conatiner{
    width: var(--containter-width-sm);
}
.landing-conatiner{
    flex-direction: column;
    gap: 50px;
}

.landing-text h2{
    font-size: 50px;
}

.landing-text h5{
    font-size: 40px;
}

.landing-btn{
    margin-top: 10px;
    width: 300px;
    height: 90px;
    padding: 17px;
    font-size: 30px;
    border-radius: 30px;
}


.landing-img img{
    height: 500px;
    padding: 5px;
   
}


  }


  @media screen and (max-width: 1024px) {

    .conatiner{
        width: var(--containter-width-md);
    }
    .landing-conatiner{
        flex-direction: column;
        gap: 20px;
    }


    section{
        height: max-content;
  
    }

    .landing-text h2{
        font-size: 50px;
    }
    
    .landing-text h5{
        font-size: 40px;
    }
    .landing-btn{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 200px;
        height: 80px;

        border-radius: 30px;
        padding: 17px;
        font-size: 30px;
    }
    
.landing-img img{
    height: 700px;
    width: 700px;
    padding: 5px;

}

}