.landing-conatiner{
    display: flex;
    margin: auto;
    gap: 170px;
    padding: 20px;
    justify-content: space-between;
   
}

.landing-text{
    color: #fff;
    padding-top: 150px;
    

}

.landing-text h2{
    font-size: 40px;
}

.landing-text h5{
    font-size: 20px;
}

.landing-img img{
    padding-top: 150px;
    height: 700px;
   
}

.landing-btn{
    margin-top: 10px;
}


@media(max-width: 768px){

.conatiner{
    width: var(--containter-width-sm);
}
.landing-conatiner{
    flex-direction: column;
    gap: 50px;
}

.landing-img img{
    height: 500px;
    padding: 5px;
   
}


  }