.about-conatiner{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
    width: 100%;
    }

  .about-heading{
    width: 75%;
    margin: auto;
}

.about-btn{
    margin-top: 10px;
}

@media(max-width: 768px){

   .conatiner{
width: var(--containter-width-sm);
    }

    .about-conatiner{
    flex-direction: column;
     
        gap: 30px;
       
        }
    
    
      }