.about-contect-conatiner{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
    width: 100%;
    }

  .about-heading{
    width: 75%;
    margin: auto;
}

.about-image img{
        border-radius: 40px;
        height: 400px;
    
        }

                .about-text p {
                    font-size: 20px;
                    text-align: justify;
                }


.about-btn{
    margin-top: 10px;
}


 @media screen and (max-width: 1024px) {

     .conatiner.about-conatiner {
         width: var(--containter-width-md);
         
        
     }


         .about-contect-conatiner {
         flex-direction: column;
         gap: 30px;

     }

     .about-btn {

         margin-top: 10px;
         width: 200px;
         height: 80px;
         padding: 17px;
         font-size: 30px;
         border-radius: 30px;

     }

 }


@media(max-width: 768px){

   .conatiner.about-conatiner{
width: var(--containter-width-sm);
margin: auto;

}

    .about-contect-conatiner{
    flex-direction: column;
     
        gap: 30px;
        width: 100%;
        padding: 20px;
       
        }
    

        .about-image img{
           width: 100%;
        
            }

        .about-btn{
            
            margin-top: 10px;
            width: 50%;
            height: fit-content;
            padding: 17px;
            font-size: 20px;
            border-radius: 30px;
        }
    
        .about-heading h5{
            display: none;
        }
   

    .about-text p{
        font-size: 20px;
        text-align: justify;
    }
    .about-heading h1{
        font-size: 60px;
    }

    .about-heading h5{
        font-size: 30px;
    }
    section{
        height: max-content;
       
    }
      }

     